In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [6]:
marathon_2016 = pd.read_csv("./data/marathon_2016.csv")

In [7]:
marathon_2016

      Unnamed: 0  Overall    Bib                     Name      Time
0              0        1      1           Scott Wietecha  02:25:42
1              1        2      3            Brian Shelton  02:34:43
2              2        3   1047        Christopher Capps  02:38:43
3              3        4   1052             Jason Grimes  02:45:06
4              4        5   1046              David Adams  02:47:28
...          ...      ...    ...                      ...       ...
3837        3837    99999  21159               Beth Lyons  00:00:00
3838        3838    99999  25061          Aleksei Stevens  00:00:00
3839        3839    99999   6047          Lizzie Ziccardi  00:00:00
3840        3840    99999   2052             Adam Pastors  00:00:00
3841        3841    99999   2107  Anastasiya Christiansen  00:00:00

[3842 rows x 5 columns]

In [9]:
marathon_2017 = pd.read_csv("./data/marathon_2017.csv")

In [10]:
marathon_2017

      Unnamed: 0  Overall    Bib             Name      Time
0              0        1      1   Scott Wietecha  02:40:25
1              1        2   1145     Ryan Regnier  02:56:28
2              2        3   1147   Daniel Everett  03:00:55
3              3        4   1029    Khris Vickroy  03:04:47
4              4        5   1119   Marcus Dilallo  03:04:53
...          ...      ...    ...              ...       ...
3646        3646    99999   1185       Ernest Lee  00:00:00
3647        3647    99999   8038  Allison Alfonso  00:00:00
3648        3648    99999  26069   Justin Wehring  00:00:00
3649        3649    99999   8111   Timothy Forbes  00:00:00
3650        3650    99999   2084    Thomas Hansen  00:00:00

[3651 rows x 5 columns]

In [11]:
marathon_2018 = pd.read_csv("./data/marathon_2018.csv")

In [12]:
marathon_2018

      Unnamed: 0  Overall    Bib             Name      Time
0              0        1      1   Scott Wietecha  02:28:16
1              1        2      3     Garang Madut  02:29:52
2              2        3  33442       Kevin Fink  02:38:59
3              3        4  33441    Andrew Hodges  02:43:59
4              4        5  30028  Nicholas Aubert  02:48:11
...          ...      ...    ...              ...       ...
2110        2110    99999  33654      Jeff Ekkart  00:00:00
2111        2111    99999  31170   Austin Perkins  00:00:00
2112        2112    99999  30482      David Ramos  00:00:00
2113        2113    99999  33461   Emily Eagerton  00:00:00
2114        2114    99999  31515  Tony Quernemoen  00:00:00

[2115 rows x 5 columns]

In [13]:
marathon_2019 = pd.read_csv("./data/marathon_2019.csv")

In [15]:
marathon_half_2016 = pd.read_csv("./data/marathon_half_2016.csv")

In [16]:
marathon_half_2017 = pd.read_csv("./data/marathon_half_2017.csv")

In [18]:
marathon_half_2018 = pd.read_csv("./data/marathon_half_2018.csv")

In [19]:
marathon_half_2019 = pd.read_csv("./data/marathon_half_2019.csv")

In [21]:
marathon_2016.shape

(3842, 5)

In [22]:
marathon_2017.shape

(3651, 5)

In [23]:
marathon_2018.shape

(2115, 5)

In [24]:
marathon_2019.shape

(2811, 5)

In [25]:
marathon_half_2016.shape

(22429, 5)

In [26]:
marathon_half_2017.shape

(22292, 5)

In [27]:
marathon_2016.head(20)

    Unnamed: 0  Overall    Bib               Name      Time
0            0        1      1     Scott Wietecha  02:25:42
1            1        2      3      Brian Shelton  02:34:43
2            2        3   1047  Christopher Capps  02:38:43
3            3        4   1052       Jason Grimes  02:45:06
4            4        5   1046        David Adams  02:47:28
5            5        6   1049    Matthew Meinema  02:47:36
6            6        7   1044        Seth Carley  02:48:22
7            7        8   1092         Ben Becker  02:52:19
8            8        9   1057     Jonathan Mason  02:53:38
9            9       10   1058         Matt Treat  02:53:48
10          10       11   1067     Kevin Selinsky  02:55:49
11          11       12   1069      Cole Bataille  02:56:56
12          12       13   1087     Joseph Shields  02:58:53
13          13       14   1108     Melanie Kulesz  02:59:09
14          14       15   2014       Kieran Frost  02:59:30
15          15       16   1155        Brian Wiest  02:59:51
16          16       17   1048     Braden Robbins  03:00:26
17          17       18   1080          Bo Brewer  03:01:09
18          18       19  27408      Bryan Larison  03:01:23
19          19       20    101        Megan Hovis  03:04:49

In [37]:
marathon_2016 = marathon_2016.drop(columns = 'Unnamed: 0')

In [38]:
marathon_2017 = marathon_2017.drop(columns = 'Unnamed: 0')
marathon_2018 = marathon_2018.drop(columns = 'Unnamed: 0')
marathon_2019 = marathon_2019.drop(columns = 'Unnamed: 0')

In [39]:
marathon_half_2016 = marathon_half_2016.drop(columns = "Unnamed: 0")
marathon_half_2017 = marathon_half_2017.drop(columns = "Unnamed: 0")
marathon_half_2018 = marathon_half_2018.drop(columns = "Unnamed: 0")
marathon_half_2019 = marathon_half_2019.drop(columns = "Unnamed: 0")

In [40]:
marathon_half_2019

       Overall   Bib              Name      Time
0            1    31       Nick French  01:10:03
1            2    33      Ian Bordelon  01:12:15
2            3    32     Chris Demetra  01:12:52
3            4  1025      Grayson Reid  01:15:10
4            5    34      Jason Vincze  01:17:01
...        ...   ...               ...       ...
17231    99999  1014      Ian Bordelon  00:00:00
17232    99999  1012      Nick Gehlsen  00:00:00
17233    99999  6295  Arsenio Franklin  00:00:00
17234    99999  4922         Matt Lang  00:00:00
17235    99999  1528        Kyle Eason  00:00:00

[17236 rows x 4 columns]